<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="OFF">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{yyyy.MM.dd HH:mm:ss.SSS}][%t] [%-5level] [%logger{36}] - %msg%n%xException"/>
        </Console>

        <RollingFile name="RollingFile" fileName="logs/planr-api-test.log"
                     filePattern="logs/planr-api-test-%d{yyyy-MM-dd}.log.gz" ignoreExceptions="false">
            <PatternLayout pattern="[%d{yyyy.MM.dd HH:mm:ss.SSS}][%t] [%-5level] [%logger{36}] - %msg%n%xException"/>
            <TimeBasedTriggeringPolicy/>
        </RollingFile>
    </Appenders>

    <loggers>
        <!-- Levels: trace, debug, info, warn, error, fatal -->
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile"/>
        </Root>
    </loggers>

</Configuration>
